.products {
    width: 100%;
    display:inline-block;
    min-height:500px;
    margin:0px;
    padding:0px;
}

.products li {
    display:inline-block;
    width:200px;
    height:237px;
    position:relative;
    margin:0px;
    padding:0px;
    z-index:1;
}

.products li:hover {
    z-index:2;
}

.products li a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display:block;
    width:180px;
    height:auto;
    padding:10px;
    position:absolute;
    background-color:white;
    cursor:pointer;
}

.products li:hover a {
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

.products li a .image {
    display:block;
    height:150px;
    position:relative;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    background-color:white;
}

.products li a h1 {
    display:block;
    height:auto;
    margin:10px 0px;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
}

.products li a h2 {
    display:block;
    height:auto;
    margin:10px 0px;
    font-family:arial;
    font-size:12px;
    font-weight:normal;
}

.products li a .informations {
    display:none;
}

.products li a .informations p {
    display:block;
    height:auto;
    margin:10px 0px;
    font-family:arial;
    font-size:10px;
    color:grey;
    font-weight:normal;
}

.products li:hover a .informations {
    display:block;
}